.delete{
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}

.delete:hover {
  background-color: #c82333;
}

.my-application {
  margin-top: 70px;
}